{% extends 'base.html.twig' %}

{% block title %}strip_anchors Twig extension{% endblock %}

{% block body %}
    <h1>strip_anchors</h1>
    {{ '<h2>Custom Twig Extension</h2><p>The strip_anchors <a href="https://github.com/twigphp/Twig/" title="Visit Twig project on GitHub">Twig (v.2.5.0)</a> filter removes all anchor links (ie. links pointing to different sections of the same page where they are located) from input.</p><p><strong>Please note:</strong>This repository only shows directories and files from a <a href="#how-to-use-in-symfony-4">Symfony 4 skeleton project</a> that <strong>need to be added or modified</strong> to enable the \'strip_anchors\' Twig extension.</p><a id="usage"></a><h2 class="anchor"><a href="#usage">Usage</a></h2><p>Use this Twig filter in an RSS feed template to help transform HTML input into valid RSS 2.0 .</p><a id="how-to-use-in-symfony-4"></a><h3 class="anchor"><a href="#how-to-use-in-symfony-4">How To use in Symfony 4</a></h3><p>This repository shows how this custom Twig extension (ie. the `strip_anchors` Twig filter) can be implemented in a Symfony 4 project structure created using <a href="https://symfony.com/doc/current/best_practices/creating-the-project.html">symfony/skeleton</a>.</p>'|strip_anchors }}
{% endblock %}
